body {
  background-color: white;
  margin: 0 auto;
}
#navbar {
  background-color: white;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
}
#logo-container {
  width: 200px;
  float: left;
  display: flex;
  justify-content: flex-start;
  padding: 15px;
}
#logo-container img {
  height: 60px;
  margin-right: 20px;
}
#logo-container h2 {
  display: inline-block; 
  color: white;
}
#profile-container {
  width: auto;
  float: right;
}
#profile-container > img {
  height: 80px;
  width:80px;
  border-radius: 50%;
  margin-right: 20px;
}
.main {
  height: calc(100vh - 80px);
}
#sidebar {
  background-color: white;
  height: 100%;
  width: 160px;
  float: left;
  border: 2px solid black;
  border-bottom: none;
}
#sidebar nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px 15px 15px 15px;
}
#sidebar nav a {
  color: black;
  padding: 5px;
  text-decoration: none;
}
#sidebar nav a:first-child {
  padding-top: 0;
}
.container{
  height: 100px;
 width: 76%;
 float: left;
 display: inline;
 display: flex;
 margin-left: 30px;
 justify-content: space-between;
 align-items: center;
}
h2{
  text-decoration: underline;
}
 .container > a{
  height: 40px;
  width: 100px;
  margin-top: 10px;
  background-color:#3bb989 ;
  border: none;
  text-decoration: none;
 align-items: center;
}
.icon{
  height:auto ;
  width:calc(100% - 200px);
  float: left;
  margin-left: 25px;
}
.table-container{
  height:calc(100% - 900px);
  width:calc(100% - 200px);
  float: left;
  margin-top: 10px;
}
  .table th, .table td {
   border: 1px solid black;
    padding: 10px;
    text-align:center ;
  }
table{
  margin-top:auto ;
  border: 1px solid black;
  border-collapse:collapse;
}
.flex > img{
  height: 30px;
  width: 30px;
}
.flex{
  display: flex;
  margin-left: 10px;
  align-items: center;
}
nav i{
  margin-right: 10px;
  vertical-align: middle;
  height: 25px;
  line-height: 28px !important;
  color: #3bb989;
}

@media screen and (max-width:600px){
  #navbar {
    display:none;
  }
  .main{
    height: auto;
    padding: 10px;
    flex-direction: column;
  }
  #sidebar{
   display:none ;
  }
  .container{
    width:100%;
  }
   /* .table th, .table td{
    width: 100%;
  }
  .table{
    width: 100%;
    overflow: hidden;
  }  */
}