body {
  background-color: black;
  margin: 0 auto;
}
#navbar {
  background-color: purple;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#logo-container {
  width: 300px;
  float: left;
  display: flex;
  justify-content: flex-start;
  padding: 15px;
}
#logo-container img {
  height: 60px;
  margin-right: 15px;
}
#logo-container h2 {
  display: inline-block;
  color: white;
}
#menu-container {
  width: 250px;
  float: right;
  padding: 15px;
}
#menu-container a {
  color: white;
  text-decoration: none;
  padding: 15px;
}
#main-container {
  background-color: #d1d8e8;
  height: 250px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px;
  margin-right: 10px;
  margin-left: 10px;
}
.boxes {
  background-color: #d1d8e8;
  width: 31.5%;
  height: 200px;
  padding: 1px;
  float: left;
  margin-left: 10px;
}
.m-r {
  margin-right: 15px;
}