body {
  background-color: black;
  margin: 0 auto;
}
#navbar {
  background-color: purple;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#logo-container {
  width: 300px;
  float: left;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}
#logo-container img {
  height: 60px;
  margin-right: 10px;
}
#logo-container h2 {
  display: inline-block;
  color: white;
}
#menu-container {
  width: 250px;
  float: right;
  padding: 15px;
}
#menu-container a {
  color: white;
  text-decoration: none;
  padding: 15px;
}
#main-container {
  background-color: #d1d8e8;
  height: 250px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px;
  margin-left: 0px;
  margin-right: 0px;
}
.boxes {
  background-color: hsl(222, 33%, 86%);
  height: 190px;
  width: calc((100% / 3) - 32px);
  float: left;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 0 auto;
  margin-right: 0 auto;
}
.m-r {
  margin-right: 15px;
}
@media only screen and (max-width: 750px) {
  #navbar {
    width: 100%;
    padding: 10px;
  }
  #main-container {
    width: 100%;
    padding: 10px;
  }
  .boxes {
    width: 100%;
    padding: 10px;
  }
}
